.actn{
    margin-right: 14px;
}

.status{
    margin-right: -70px;
}

.delivr{
    margin-right: -70px;
}

.licNum{
    margin-right: -60px;
}

.name{
    margin-left: 14px;
}

.nldsa{
    font-size: 12px;
}

.dotty{
    margin-right: 70px;
}

.actV{
    /* margin-right: 30px; */
}

.twenty2{
    margin-right: 280px;
}

.agl{
    margin-right: 220px;
}

.actvd{
margin-left: -40px;
}

.hp{
    margin-left: 10px;
}