.tipp{
    height: 2000px;
}

.tr{
    height: 60px;
    width: 900px;
    
}

.upp{
    border-radius: 18px;
    background:#F5F6F7;
}

.vilt{
    font-size: 12px;
    color: #4F5B6E;
}

.tsa{
    margin-right: 190px;
}


.xw{
    margin-top: 10px; 
    background:#F5F6F7;
}

.add{
    margin-left: 390px;
    margin-top: -30px;
}

.bot{
    margin-left: 600px;
    margin-top: -45px;
}

.dis{
    margin-left: 71px;
    height: 40px;
    width: 80px;
    background:#F5F6F7;
    color: #4F5B6E;
    
}

.tr{
    height: 60px;
    width: 900px;
    background: #EDEADF;
}

.af{
    margin-left: 330px;
    margin-top: 30px;
}

.tlk{
    margin-left: 390px;
}

.bi{
    margin-left: -11px; 
}
.non{
        margin-left: -11px; 
        color: #939EAD;
        font-size: 12px;
    }

.peep{
    margin-right: 230px;
    width: 445px;
} 

.ref{
    margin-top: -20px;
}

.ret{
    margin-top: -20px;
}

.plet{
    margin-top: -20px;
}

.yu{
    margin-left: -14px; 
}

.doc{
    margin-left: -10px; 
}

.upd{
    height: 60px;
    width: 1350px; 
    margin-left: -28px; 
}

.updd{
    height: 60px;
    width: 1350px; 
    margin-left: -43px; 
}


.df{
    margin-left: 50px;
    font-size: 10px;
}
.dft{
    margin-left: 50px;
    margin-bottom: -15px;
}
.gyt{
    margin-top: -20px;
}

.tw{
    margin-left: 179px;
    margin-top: -30px;
}

.twz{
    margin-top: -90px;
}

.blackman{
    border-radius: 50px;
    height:50px;
    width: 50px;
    margin-left: -15px;        
}

/* .fig{
    margin-top: -30px;
} */


/* #e5e1cf */
