.gig{
    margin-top: 300px;
}

.twikky{
    height: 500px;
    width: 800px;
    margin-left: 270px;
    margin-top: -322px;
    border-radius: 35px;
}   

.arcu{
    color:#4F5B6E;
}

.lectus{
    font-size: 11px;
    
}

.adc{
    text-decoration: underline;
    text-decoration-style: solid #939EAD;
}

.fb{
    height:55px;
    width: 850px;
}

.uni{
    background:#F8F9FA;
}

.btu{
    background:#E7EAED;
    height: 25px;
    width:25px;
    margin-top: 14px;
    margin-left: 2px;
} 

.univ{
    color: #939EAD; 
    margin-right: 383px;
    margin-top: 18px;
    
    
}

.editt{
    color:#A5ABC1;
    margin-right: 36px;
    margin-top: 22px;
    font-size: 13px;
}

.trashh{
    margin-right: 12px;
    margin-top: 22px;
    color:#A5ABC1;
    font-size: 13px;
}

.fbank{
    font-size: 11px;
    margin-left: 42px;
    margin-top: -28px;
    color:#081A38;
}

.acN{
    font-size: 10px;
    margin-left: 42px;
    margin-top: -6px;
    color:#4F5B6E;
}
