.vast{
    font-size: 50px;
    margin-top: 200px;
    color: #FACF19;
}

.ta{
    width: 450px;
    margin-left: 90px;
    margin-top: -10px;
    height:10px;
}

.birdy{
    height:50px;
    width: 50px;
    margin-top: -238px;
    margin-left: 95px;
    
}

.large{
    font-size: 450px;
    margin-top: -370px;
    margin-left: 55px;
    color:#F5F6F7;
}

.rtyy{
    margin-top: -65px;
}

.upb{
    margin-top: -150px;
}

.cam-1{
    color: #FACF19;
    font-size: 12px;
    margin-right: 630px;
    margin-top: -84px;
}

.adc{
    
}