 .border-warning{
    border-radius: 5px;
}

.border-radius-sm{
    width: 80px;
    background-color: #F5F6F7;
    text-align: center;
}

.bg-white{
    border-radius: 0px;
}

ul{
    list-style-type: none;
}

.mt-0{
    margin-bottom: -5px;
}

img{
    height: 600px;
    width: 30px
}



small{
    font-size: 10px;
}
.float-right{
    margin-top: -40px;
    height: 180px;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 93px;
}

.vl {
    border: 1px solid #FACF19;
    height: 130px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0px;
  }
  .mt{
    margin-right:1%;
    margin-top: 20px;
    font-size: 20px;
  }


  .pt{
    margin-top: 8px;
    height: 180px;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 93px;
    font-size: 20px;
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 50px solid black;
    border-radius: 30px;
    transform: scaleX(-1);
    margin-left:1%;
    margin-top:6px
}

.border-secondary{
    border-radius: 10px;
}

.mb-4{
    margin-top: 10px;
}

.round{
    margin-left:12%;
    margin-top: -40px;
}

.pee{
    margin-left:12%;
    margin-top: -4px;
    font-size: 10px;
    height: 18px;
}

.z{
    padding-left: 39px;
}


.mt-15 {
    padding-top: 30px;
}

.border-l {
    border-right: 1px solid #FACF19;
    height: 150px;
}

.p-15 {
    margin-top: 45px;
}


.p-25 {
    margin-top: 55px;
}

.lightbulb {
    border: 7px solid #D8DFE5;
    border-radius: 50%;
    padding: 5px 8px;
    background-color: #478AFF;
}

.f-25 {
    font-size: 13px;
    color:#F4B537;
}

.first-row {
    background-color: #F8F9FA;
    padding: 10px 10px;
}

p {
    color: #333333;
}

.angle {
    color: #939EAD;
    font-size: 20px;
    padding-top: 15px;
}

.w-32 {
    margin-left: -15px;
    margin-right: 15px;
}

.w-100 {
    width: 104% !important;
    margin-left: -30px;
}

.tr1{
    border-top: hidden;
}

.btn-sort {
    background-color: #F5F6F7;
    border: 1px solid #e3e3e3;
    color: #4F5B6E;
}