.selecttrip{
    margin-top: 100px;
    height: 250px;
    width: 300px;
    
}

.selecttrip2{
    border-radius: 20px;
}

.Select{
    color:#939EAD;
}

.Atrips{
    margin-top: -34px;
    margin-right: 40px;
}