.changePassword{
    font-size: 15px;
    margin-left: 87px;
    margin-top: 50px;
    color:#081A38;
}

.fomt{
    margin-top: 100px;
}

.quis{
    font-size: 10px;
    margin-left: 87px;
    color:#939EAD;
}